/* Alle sidene start */

#navigation_bar ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
    
#navigation_bar li {
    display: inline-block;
    margin-right: 10px;
}
    
#navigation_bar li a {
    text-decoration: none;
    color: black;
}


/* Alle sidene slutt */





/* Forside start */

/* Body */

/* Main */
#Read_more_services{
    border: 3px solid black;
    font-size: 15px;
    padding: 10px;
    display: inline-block;
    text-decoration: none;
    color: black; 
}

#video-background{
 height: 50px;
 width: 50px;
}

#Read_more_us{
    text-decoration: none;
    color: black; 
}
/* Footer */

/* Forside Slutt */





/* About side start*/

/* Body */
#info_box_About a#Get_in_touch {
    text-decoration: none;
    color: black; 
}

/* Main */

/* Footer */

/* About side slutt */





/* Portfolio side start*/

/* Body */

/* Main */
#Branding{
    border: 1px solid black;
    font-size: 15px;
    padding: 10px;
    display: inline-block;
}

#Design{
    border: 1px solid black;
    font-size: 15px;
    padding: 10px;
    display: inline-block;
}

#Development{
    border: 1px solid black;
    font-size: 15px;
    padding: 10px;
    display: inline-block;
}

#List_of_Jobs a{
    text-decoration: none;
    color: black; 
}

#Read_more_us a{
    text-decoration: none;
    color: black; 
}

/* Footer */

/* Portfolio side slutt*/







@media only screen and (min-width:500px){

/* Alle sidene start */

/* Alle sidene slutt */





/* Forside start */

/* Body */

/* Main */

/* Footer */

/* Forside Slutt */





/* About side start*/

/* Body */

/* Main */

/* Footer */

/* About side slutt */





/* Portfolio side start*/

/* Body */

/* Main */
#Branding{
    border: 1px solid black;
    font-size: 15px;

/* Footer */

/* Portfolio side slutt*/


}
