/* Alle sidene start */

#navigation_bar ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
    
#navigation_bar li {
    display: inline-block;
    margin-right: 10px;
}
    
#navigation_bar li a {
    text-decoration: none;
    color: black;
}

#navigation_bar #Contact{
    background-color: #e6bd43; 
    padding: 10px; 
    color: black; 
    display: inline-block;
    font-family: 'Work Sans', sans-serif;
    font-weight: 800;
}

#navigation_bar{
    font-family: 'Work Sans', sans-serif;
    font-weight: 200;
}


#SOME a{
    text-decoration: none;
    color: black; 
}

#Snarvei{
    text-decoration: none;
    color: black; 
}

h1, h2, h3 {
    font-family: 'Work Sans', sans-serif;
    font-weight: 800;
}

p{
    font-family: 'Work Sans', sans-serif;
    font-weight: 200;
}
/* Alle sidene slutt */





/* Forside start */

/* Body */
#navigation_bar #Home{
    font-family: 'Work Sans', sans-serif;
    font-weight: 800;
}

/* Main */

#Read_more_us{
    border: 3px solid black;
    font-size: 15px;
    padding: 10px;
    display: inline-block;
    text-decoration: none;
    color: black; 
}

#video-background{
 height: 50px;
 width: 50px;
}

#Read_more_services{
    text-decoration: none;
    color: black; 
    background-color: #e6bd43;
    padding: 10px; 
    display: inline-block; 
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
}

#Sign_up_button{
    text-decoration: none;
    color: black; 
    background-color: #e6bd43; 
    padding: 10px; 
    display: inline-block;
}
/* Footer */

/* Forside Slutt */





/* About side start*/

/* Body */
#navigation_bar #About{
    font-family: 'Work Sans', sans-serif;
    font-weight: 800;
}

#info_box_About a#Get_in_touch {
    text-decoration: none;
    color: black; 
    background-color: #e6bd43;
    padding: 10px; 
    display: inline-block; 

}

#Get_in_touch{
    font-family: 'Work Sans', sans-serif;
    font-weight: 800;
}

/* Main */
#Client_logos{
    background-color: #e6bd43; 
    padding: 10px; 
}
 

#Send_message{
    background-color: #e6bd43; 
    padding: 10px; 
    color: black; 
    display: inline-block;
}

/* Footer */

/* About side slutt */





/* Portfolio side start*/

/* Body */
#navigation_bar #Portfolio{
    font-family: 'Work Sans', sans-serif;
    font-weight: 800;
}

/* Main */
#Branding{
    border: 1px solid black;
    font-size: 15px;
    padding: 10px;
    display: inline-block;
}

#Design{
    border: 1px solid black;
    font-size: 15px;
    padding: 10px;
    display: inline-block;
}

#Development{
    border: 1px solid black;
    font-size: 15px;
    padding: 10px;
    display: inline-block;
}

#List_of_Jobs a{
    text-decoration: none;
    color: black; 
}

#Read_more_us a{
    text-decoration: none;
    color: black; 
}

/* Footer */

/* Portfolio side slutt*/







@media only screen and (min-width:500px){

/* Alle sidene start */

/* Alle sidene slutt */





/* Forside start */

/* Body */

/* Main */

/* Footer */

/* Forside Slutt */





/* About side start*/

/* Body */

/* Main */

/* Footer */

/* About side slutt */





/* Portfolio side start*/

/* Body */

/* Main */
#Branding{
    border: 1px solid black;
    font-size: 15px;

/* Footer */

/* Portfolio side slutt*/


}
