body {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

p {
    font-weight: 200;
    color: #252525;
}

.grid-container {
    display: grid;
    grid-template-areas: "meny" "header" "main" "footer"; /* Menu, Header, Main, Footer */
    grid-template-rows: auto auto 1fr auto;
    min-height: 100vh;
}

.meny {
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    grid-area: meny;
}

.meny #Home{
    font-family: 'Work Sans', sans-serif;
    font-weight: 800;
}

.meny #About{
    font-family: 'Work Sans', sans-serif;
    font-weight: 800;
}

.meny #Portfolio{
    font-family: 'Work Sans', sans-serif;
    font-weight: 800;
}

.meny img {
    max-width: 100px; /* Adjust as needed */
}

.meny #Contact {
    background-color: #e6bd43;
    padding: 10px;
    color: #000;
    display: inline-block;
    font-family: 'Work Sans', sans-serif;
    font-weight: 800;
    text-decoration: none;
}

nav ul {
    list-style: none;
    display: flex;
    font-weight: 800;
    color: black;
}

nav ul li {
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none; /* Remove underline */
    color: black;
}

header {
    padding: 20px;
    text-align: center;
    grid-area: header;
}

.long_img {
    max-width: 100%; /* Adjust as needed */
    height: auto;
}

header h1 {
    margin-bottom: 10px;
}

#Header_Text {
    color: #252525;
}

video {
    width: 100%;
}

main {
    padding: 20px;
    grid-area: main;
}

#List_of_Jobs a{
    text-decoration: none;
    color: #000; 
    font-family: 'Open Sans', sans-serif;
    font-weight: 200;
    border: 1px solid #000;
    font-size: 15px;
    padding: 10px;
    display: inline-block;
}

#sub-heading,
#About_our_Company,
#Our_services,
#Sign_up {
    margin-bottom: 20px;
    font-family: 'Work Sans', sans-serif;
    font-weight: 800;
    text-decoration: none;
    color: #000;
}

#Default_img {
    max-width: 100%;
}

#Read_more_us,
#Read_more_services,
#Get_in_touch,
#Sign_up_button {
    display: inline-block;
    background-color: #e6bd43;
    padding: 10px 20px;
    text-decoration: none;
    margin-top: 10px;
    font-weight: 800;
    color: #000;
}

#Our_services {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
}

#Our_services i {
    font-size: 2em;
}

#Sign_up {
    text-align: center;
}

footer {
    background-color: #333;
    color: #ffffff;
    padding: 20px;
    text-align: center;
    grid-area: footer;
}

footer p {
    color: #fff;
}

.Logo1_footer {
    max-width: 100px; /* Adjust as needed */
    margin-bottom: 20px;
}

.SOME a {
    color: #fff;
    margin: 0 10px;
    text-decoration: none;
}

.Snarvei {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-decoration: none;
    border-radius: 5px;
}

.Snarvei i {
    font-size: 1.5em;
}

/* Your additional styles here */
